@import 'primereact/resources/themes/bootstrap4-light-blue/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-25: #f8fcff;
        --primary-50: #edf8ff;
        --primary-100: #d6eeff;
        --primary-200: #b5e2ff;
        --primary-300: #83d2ff;
        --primary-400: #48b8ff;
        --primary-500: #1e95ff;
        --primary-600: #0674ff;
        --primary-700: #0060ff;
        --primary-800: #084ac5;
        --primary-900: #0d429b;
        --primary-950: #0e295d;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer base {
    @font-face {
      font-family: 'SF Pro';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('/resources/font/SF-Pro-Text-Regular.otf') format('otf');
    }
}

@layer base {
    @font-face {
      font-family: 'SF Pro';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url('/resources/font/SF-Pro-Text-Medium.otf') format('otf');
    }
}

@layer base {
    @font-face {
      font-family: 'SF Pro';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('/resources/font/SF-Pro-Text-Semibold.otf') format('otf');
    }
}

@layer base {
    @font-face {
      font-family: 'SF Pro';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('/resources/font/SF-Pro-Text-Bold.otf') format('otf');
    }
}


/* Modal */

/* Modal */

/* table */

.p-datatable .p-datatable-thead > tr > th {
  padding: 12px;
  background-color: #F8FAFA;
}

.p-column-title {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: #131B25;
  text-transform: uppercase;
  font-family: 'SF Pro', Arial, sans-serif;
}

.p-icon {
  display: flex;
  width: 10px;
  height: 10px;
}

.p-paginator {
  padding: 12px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 8px 12px 8px 12px;
}

.p-inputswitch .p-inputswitch-slider {
  background-color: #E6ECEE;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
  background-color: #00E62B;
}